@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

/* --------------------------------------------------------------sidebar-------------------------------------------------------------------- */
.main-content {
    height: 100vh;
    overflow-y: auto;
}

.sidebar-item-link {
    text-decoration: none;
    /* removes underline */
    color: inherit;
    /* keeps default text color */
    display: block;
    /* makes the full area clickable */
}

.siderbar {
    background: url('../js/assets/images/sidebar-image.png') no-repeat;
    background-size: cover;
    position: sticky;
    height: 100vh;
    overflow-y: auto;
}

.sidebar-toggle-btn {
    display: none;
    position: absolute;
    top: 5%;
    right: 5%;
    width: 50px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    background-color: #101E59;
    padding: 10px;
    border-radius: 10px;
}

.sidebar-toggle-btn span {
    width: 100%;
    height: 4px;
    background: #FFFFFF;
    display: block;
    margin-bottom: 5px;
    /* Space below each span */
    border-radius: 10px;
    transition: all 0.3s ease;
}

.sidebar-toggle-btn span:nth-child(1) {
    transform: none;
}

.sidebar-toggle-btn span:nth-child(2) {
    opacity: 1;
}

.sidebar-toggle-btn span:nth-child(3) {
    transform: none;
    margin-bottom: 0;
}

/* X state when active */
.sidebar-toggle-btn.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 7px);
}

.sidebar-toggle-btn.active span:nth-child(2) {
    opacity: 0;
}

.sidebar-toggle-btn.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.logo {
    text-align: center;
    padding: 3rem;
}

.siderbar::-webkit-scrollbar,
.main-content::-webkit-scrollbar {
    width: 0px;
}

/* Track */
.siderbar::-webkit-scrollbar-track,
.main-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.siderbar::-webkit-scrollbar-thumb,
.main-content::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.siderbar::-webkit-scrollbar-thumb:hover,
.main-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.sidebar-content {
    padding: 20px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 75px;
}

.step-icon-circle {
    /* Responsive sizing */
    width: 50px;
    height: 50px;

    /* Fixed visual properties */
    border: 0.89px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: clamp(13px, 1.5vw, 15px);
    /* Responsive font */
    position: relative;
}

.step-text h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.step-text h4 {
    margin: 0;
    font-size: 16px;
    color: white;
}


.step-line {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 60px;
    background-color: white;
}

.selected {
    background-color: #5C80B2;
}

/* -------------------------------end sidebar------------------------------------------------------------- */




/* --------------------------------------------------------------personal-detail-------------------------------------------------------------------- */
.col-6 {
    padding: 4px;
}

.col {
    padding: 10px;
}

.disabled-section {
    opacity: 0.6;
    pointer-events: none;
}
.disabled-link {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}
fieldset[disabled] {
    /* This prevents all interaction with child elements */
    opacity: 0.6;
}

.personal-detail-container {
    padding: 50px;
}

.personal-detail-header{
    padding: 50px 0px;
}

.personal-detail-header h2 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #101E59;
}
.personal-detail-header p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.personal-detail-label {
    padding-top: 100px;
}

.expense-detail-label {
    padding-top: 89px;
}

.personal-detail-label label {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin: 0px 0px;
    height: 74px;
    display: flex;
    align-items: center;
}

.text-area-label label {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin: 0px 0px;
    display: flex;
    align-items: center;
}

.personal-detail-label .expense-label {
    height: 189px;
    margin-top: 39px;
}

/* .personal-detail-label .expense-label:nth-child(even){
    height: 170px;
    margin-top: 60px;
    margin-bottom: 13px;
} */

.responsive-label {
    display: none;
    color: #FFFFFF;
    float: left !important;
}

.personal-detail-input-container {}

.personal-detail-input {
    background-color: #101E59;
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    text-align: center;
}

.personal-detail-input input {
    padding: 15px 20px;
    border-radius: 10px;
    margin: 22px 0px;
}

.personal-detail-input select {
    padding: 15px 20px;
    border-radius: 10px;
    margin: 22px 0px;
}

.personal-detail-input h2 {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 30px 0px 10px 0px;
    color: #FFFFFF;
}

.personal-detail-input-container>.col-md-6:nth-child(2)>.personal-detail-input {
    background-color: #5C80B2;
}

.form-textarea {
    /* padding: 0; */
}

.form-textarea textarea {
    background-color: #F5F5F5;
    height: 153px;
    border-radius: 20px;
    padding: 10px 20px;
}

.next-btn {
    background-color: #101E59;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 15px 75px;
    text-decoration: none;
}


.rental-property-btn,
.vacation-property-btn {
    background-color: #2D429B;
    padding: 15px 20px;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    width: 100%;
}

.personal-detail-input-container .col-md-6:nth-child(2) .rental-property-btn,
.personal-detail-input-container .col-md-6:nth-child(2) .vacation-property-btn {
    background-color: #2F5181;
    /* for spouse side */
}

.value-radio {
    padding: 25px 25px !important;
    border-radius: 10px !important;
    margin: 26px auto !important;
    display: block;
}

.financial-assets-label {
    padding-top: 46px;
}

.financial-assets-input {
    background-color: #5C80B2;
}

.btn-close {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: red;
}

.percentage-select {
    width: 100%;
    padding: 15px;
}

.form-select-label {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin: 0px 0px;
    height: 55px;
    display: flex;
    align-items: center;
}

hr {
    margin: 2rem;
}

@media only screen and (max-width: 768px) {
    .siderbar {
        position: absolute;
        left: -25%;
        width: 300px;
    }

    .sidebar-toggle-btn {
        display: block;
    }

    .sidebar-item {
        margin-bottom: 46px;
    }

    .step-line {
        height: 30px;
    }

    .main-content {
        width: 100%;
    }

    .logo {
        padding: 2rem;
    }

    .responsive-radio-sec {
        display: flex !important;
        align-items: center;
        gap: 20px;
        height: 20px;
    }

    .responsive-radio-sec input {
        width: 24px;
        height: 24px;
    }

    .personal-detail-label {
        display: none !important;
    }

    .personal-detail-label label {
        font-size: 14px;
    }

    .true-false-label {
        display: block !important;
        width: 100%;
        padding-top: 0px;
    }

    .true-false-input {
        display: none !important;
    }

    .personal-detail-container {
        padding: 10px;
    }

    .personal-detail-container .row .col-md-10,
    .personal-detail-container .row:nth-child(2) .col-md-6:nth-child(2) {
        width: 100%;
    }

    .full-width {
        width: 100%;
    }

    .responsive-label {
        display: block;
    }

    .personal-detail-input-container {
        gap: 10px;
    }

    .personal-detail-input-container .col-md-6 {
        width: 100%;
    }

    .text-area-label {
        display: none !important;
    }

    .form-textarea {
        padding: 12px;
    }
}

@media only screen and (max-width: 500px) {
    .next-btn {
        padding: 10px 35px;
    }
}